<div class='pure-u-1-5'>

  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="/">Materials</a>
    <ul>
      <li class=" ">
        <a href="#most_open_holds">Most Open Holds</a>
      </li>
    </ul>
  </div>

</div>
<div class='pure-u-3-5'>
  <div class='pure-g list'>
    <% @materials.each do |material|%>
      <%= render "listing", material: material %>
    <% end %>
  </div>
</div>
<div class='pure-u-1-5'></div>
