<div class='pure-u-1-5'></div>
<div class='pure-u-3-5'>
  <div class='pure-g'>
    <div class='pure-u-1-5'>
      <a class="pure-u-1-5 listing" href=<%="http://www.aadl.org/catalog/record/#{@material.bib_record}"%>>
        <img src=<%="http://media.aadl.org/covers/#{@material.bib_record}_100.jpg"%>>
      </a>
    </div>
    <div class='pure-u-4-5'>
      <div>
        <%= render "table_from_array_of_hashes", array: [{asdf:1234, qwer:3456}] %>
      </div>
    </div>
    <div class="pure-u-1">
      <h4>Holders</h4>
      <%= render "table_from_array_of_hashes", array: @users %>
    <div>
  </div>
</div>
<div class='pure-u-1-5'></div>
